* {
  box-sizing: border-box;
}

body {
  font-family: "Karla";
  overflow-x: hidden;
  max-width: 1440px;
  margin: 0 auto;
}

.body--hidden {
  overflow: hidden;
}

ul, ol {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

.visually-hidden {
  /* Contain text within 1px box */
  height: 1px;
  overflow: hidden;
  width: 1px;
  /* Keep the layout */
  position: absolute;
  /* Remove any visible trace (e.g. background color) */
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%); /* browsers in the future */
  /* Prevent the screen reader to skip spaces between words */
  white-space: nowrap;
}

/* karla-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/karla-v31-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* karla-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/karla-v31-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* dm-serif-display-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/dm-serif-display-v15-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
.plans-link {
  padding: 10px 20px;
  transition: 500ms;
  border: 2px solid white;
  color: white;
  background-color: transparent;
  z-index: 2;
}
.plans-link:hover {
  background-color: white;
  color: rgb(45, 38, 65);
}

.plans-link--dark {
  padding: 10px 20px;
  border: 2px solid rgb(44, 40, 48);
  color: rgb(44, 40, 48);
  z-index: 1;
}
.plans-link--dark:hover {
  background-color: rgb(44, 40, 48);
  color: white;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 10px;
}

.hamburger {
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  display: none;
}

.hamburger--open {
  background-image: url("/img/hamburger-open.svg");
}

.hamburger--close {
  background-image: url("/img/hamburger-close.svg");
}

@media only screen and (max-width: 590px) {
  .hamburger {
    display: inline-block;
  }
}
.title {
  color: black;
  font-size: 72px;
  line-height: 64px;
  letter-spacing: -1px;
  margin: 0;
  font-family: "DM Serif Display";
  position: relative;
  padding-top: 80px;
}
.title::after {
  top: 0;
  left: 0;
  position: absolute;
  width: 150px;
  height: 1px;
  background-color: rgb(195, 150, 198);
  content: "";
}

.title--light {
  color: white;
}
.title--light::after {
  background-color: white;
}

@media only screen and (max-width: 1080px) {
  .title--light {
    font-size: 52px;
    line-height: 50px;
  }
}
@media only screen and (max-width: 840px) {
  .title--light {
    font-size: 42px;
    line-height: 40px;
  }
}
@media only screen and (max-width: 800px) {
  .title--light {
    font-size: 48px;
  }
  .title--light::after {
    display: none;
  }
  .title {
    font-size: 60px;
    text-align: center;
  }
  .title::after {
    left: calc(50% - 75px);
  }
}
@media only screen and (max-width: 430px) {
  .title--light {
    font-size: 36px;
    line-height: 34px;
  }
}
@keyframes hamburger-opener {
  0% {
    top: -100%;
  }
  100% {
    top: 71px;
  }
}
.header {
  padding: 20px 0;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__list {
  display: flex;
}

.header__item {
  margin-right: 20px;
}

.header__item-link {
  color: rgb(131, 125, 136);
  font-size: 13px;
  font-weight: 700;
  line-height: 15.2px;
  letter-spacing: 1.5px;
}
.header__item-link:hover {
  color: rgb(44, 40, 48);
}

@media only screen and (max-width: 590px) {
  .header__nav {
    position: absolute;
    background-color: rgb(44, 40, 48);
    display: none;
    top: 71px;
    left: 0;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    text-align: center;
    z-index: 2;
    background-image: url("../../img/header-nav-after.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
  }
  .header__nav--opened {
    display: block;
    animation: hamburger-opener 500ms;
  }
  .header__list {
    flex-direction: column;
    margin-top: 50px;
  }
  .header__item {
    margin: 0;
    margin-bottom: 30px;
  }
  .header__item-link {
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 1.3636363745px;
    color: white;
  }
  .header__link {
    padding: 12px 50px;
    border: 2px solid white;
    color: white;
    font-size: 20px;
  }
}
.intro {
  background-color: rgb(45, 38, 65);
  position: relative;
}
.intro::after {
  position: absolute;
  background: url("/img/intro-after.png") no-repeat left bottom;
  content: "";
  width: 106px;
  height: 354px;
  background-size: cover;
  bottom: -250px;
}
.intro::before {
  position: absolute;
  background: url("/img/intro-before.png") no-repeat right top;
  content: "";
  width: 440px;
  height: 649px;
  right: 0;
}

.intro__container {
  display: flex;
  padding-top: 80px;
}

.intro__content {
  margin-top: 60px;
  margin-right: 20px;
  z-index: 1;
}

.intro__text {
  line-height: 26px;
  color: white;
  margin-bottom: 40px;
}

.intro__link {
  border: 1px solid white;
  color: white;
  z-index: 1;
}
.intro__link:hover {
  color: rgb(44, 40, 48);
  background-color: white;
}

.intro__img {
  margin-bottom: -100px;
  margin-top: 50px;
  flex-shrink: 0;
  -o-object-fit: contain;
     object-fit: contain;
}

@media only screen and (max-width: 940px) {
  .intro__img {
    width: 440px;
    height: auto;
  }
}
@media only screen and (max-width: 840px) {
  .intro__img {
    width: 340px;
    height: auto;
  }
  .intro__content {
    padding: 50px;
  }
}
@media only screen and (max-width: 800px) {
  .intro__container {
    flex-direction: column-reverse;
    padding: 0;
  }
  .intro__img {
    width: 100%;
    margin: 0;
    z-index: 1;
  }
  .intro__content {
    width: 80%;
    text-align: center;
    margin: 10px auto;
    padding: 0;
    padding-bottom: 50px;
  }
  .intro::before {
    background: url("../../img/intro-before-mobile.png") no-repeat right bottom;
    top: 90%;
    width: 130px;
    height: 360px;
  }
  .intro::after {
    background: url("../../img/intro-after-mobile.png") no-repeat left top;
    background-size: cover;
    top: 55%;
  }
}
@media only screen and (max-width: 630px) {
  .intro::after {
    top: 50%;
  }
  .intro::before {
    top: 85%;
  }
}
@media only screen and (max-width: 540px) {
  .intro::after {
    top: 40%;
  }
}
@media only screen and (max-width: 500px) {
  .intro::after {
    top: 30%;
  }
}
@media only screen and (max-width: 370px) {
  .intro::after {
    top: 20%;
  }
}
.diff {
  margin-top: 250px;
}

.diff__list {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.diff__item {
  max-width: 350px;
  padding-top: 100px;
  position: relative;
  margin-right: 20px;
}
.diff__item::before {
  position: absolute;
  width: 86px;
  height: 86px;
  border-radius: 50%;
  background-color: rgb(150, 169, 198);
  content: "";
  left: 0;
  top: 0;
  background-image: url("../../img/thunder.svg");
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 0;
}
.diff__item:nth-child(2)::before {
  background-image: url("../../img/dollar.svg");
}
.diff__item:last-child {
  margin-right: 0;
}
.diff__item:last-child::before {
  background-image: url("../../img/person.svg");
}

.diff__item-title {
  font-family: "DM Serif Display";
  font-weight: 400;
  font-size: 28px;
  line-height: 38.39px;
  letter-spacing: -0.39px;
}

.diff__item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  color: rgb(131, 125, 136);
}

@media only screen and (max-width: 800px) {
  .diff__list {
    flex-direction: column;
    text-align: center;
  }
  .diff__item {
    text-align: center;
    margin: 0 auto;
  }
  .diff__item:last-child {
    margin: 0 auto;
  }
  .diff__item::before {
    left: calc(50% - 43px);
  }
}
.cta {
  color: white;
  margin-top: 100px;
}

.cta__container {
  padding: 60px 80px;
  background-color: rgb(45, 38, 65);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.cta__container::after {
  position: absolute;
  width: 450px;
  height: 232px;
  content: "";
  background: url("../../img/cta-after.png") no-repeat center center;
  background-size: cover;
  right: 0;
}

.cta__title {
  font-family: "DM Serif Display";
  font-weight: 400;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -0.78px;
  max-width: 475px;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 800px) {
  .cta__container {
    padding: 50px 30px;
  }
}
@media only screen and (max-width: 700px) {
  .cta__container {
    flex-direction: column;
  }
  .cta__container::after {
    top: 0;
  }
  .cta__title {
    text-align: center;
    margin-bottom: 50px;
    font-size: 46px;
    line-height: 46px;
  }
}
.footer {
  margin-top: 200px;
  background-color: rgb(250, 250, 250);
  position: relative;
}
.footer::after {
  position: absolute;
  width: 550px;
  height: 240px;
  background: url("../../img/footer-after.png") no-repeat center center;
  content: "";
  top: 0px;
  left: 0;
}

.footer__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(218, 218, 218);
  padding: 30px;
  margin-bottom: 50px;
}

.footer__socials-link {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

.footer__socials-item {
  z-index: 1;
}

.footer__list {
  display: flex;
  justify-content: space-between;
}

.footer__body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer__link {
  font-weight: 700;
  font-size: 13px;
  line-height: 30px;
  letter-spacing: 1.5px;
  color: rgb(45, 38, 65);
}
.footer__link:hover {
  border-bottom: 1px solid rgb(45, 38, 65);
}

.footer-section__title {
  font-weight: 700;
  font-size: 13px;
  line-height: 15.2px;
  letter-spacing: 1.5px;
  color: rgb(131, 125, 136);
}

@media only screen and (max-width: 800px) {
  .footer {
    overflow-x: hidden;
  }
  .footer__head {
    flex-direction: column;
    align-items: center;
  }
  .footer__body {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer__list {
    margin-top: 50px;
  }
}