.footer {
    margin-top: 200px;
    background-color: rgba(250, 250, 250, 1);
    position: relative;
    &::after{
        position: absolute;
        width: 550px;
        height: 240px;
        background: url('../../img/footer-after.png') no-repeat center center;
        content: '';
        top: 0px;
        left: 0;
    }
}

.footer__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(218, 218, 218, 1);
    padding: 30px;
    margin-bottom: 50px;
}

.footer__socials-link {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 12px;
}

.footer__socials-item{
    z-index: 1;
}

.footer__list {
    display: flex;
    justify-content: space-between;
}

.footer__body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer__link {
    font-weight: 700;
    font-size: 13px;
    line-height: 30px;
    letter-spacing: 1.5px;
    color: $dark-blue;
    &:hover{
        border-bottom: 1px solid $dark-blue;
    }
}

.footer-section__title {
    font-weight: 700;
    font-size: 13px;
    line-height: 15.2px;
    letter-spacing: 1.5px;
    color: $gray;
}

@media only screen and (max-width:800px){
    .footer{
        overflow-x: hidden;
    }
    .footer__head{
        flex-direction: column;
        align-items: center;
    }
    .footer__body{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .footer__list{
        margin-top: 50px;
    }
}