@keyframes hamburger-opener{
    0%{
        top: -100%;
    }
    100%{
        top: 71px;
    }
}

.header {
    padding: 20px 0;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    display: flex;
    align-items: center;
}

.header__list {
    display: flex;
}

.header__item {
    margin-right: 20px;
}

.header__item-link {
    color: $gray;
    font-size: 13px;
    font-weight: 700;
    line-height: 15.2px;
    letter-spacing: 1.5px;

    &:hover {
        color: $dark;
    }
}

@media only screen and (max-width:590px) {
    .header__nav {
        position: absolute;
        background-color: $dark;
        display: none;
        top: 71px;
        left: 0;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        text-align: center;
        z-index: 2;
        background-image: url('../../img/header-nav-after.png');
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: contain;
    }

    .header__nav--opened{
        display: block;
        animation: hamburger-opener 500ms;
    }
    .header__list {
        flex-direction: column;
        margin-top: 50px;
    }

    .header__item {
        margin: 0;
        margin-bottom: 30px;
    }

    .header__item-link {
        font-size: 20px;
        line-height: 40px;
        letter-spacing: 1.3636363744735718px;
        color: white;
    }

    .header__link {
        padding: 12px 50px;
        border: 2px solid white;
        color: white;
        font-size: 20px;
    }
}